@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --white: #ffffff;
  --red: #FF4757;
  --light-blue: #7CC9C8;
  --dark-blue: #41837F;
  --super-dark-blue: #2D3C3A;
  font-family: 'Bangers', cursive;
}

body {
  margin: 0px;
}

.App {
  height: 100vh;
  background-image: radial-gradient(
    circle at center,
    var(--dark-blue) 0.25rem,
    transparent 0
  ), radial-gradient(circle at center, var(--dark-blue) 0.25rem, transparent 0);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;

  background-color: var(--light-blue);
  color: var(--super-dark-blue);
}

button {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 5px 5px 0px #2D2D2D;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
  position: relative;
}

button:hover {
  background-color: #FF6B81;
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0px #2D2D2D;
}

button:active {
  transform: translate(4px, 4px);
  box-shadow: 1px 1px 0px #2D2D2D;
}
