.final-score-screen > h1 {
  outline-color: red;
  outline-width: 1px;
  outline-style: solid;
}

.final-score-screen > p {
  outline-color: red;
  outline-width: 1px;
  outline-style: solid;
}

.final-score-screen > p {
  outline-color: red;
  outline-width: 1px;
  outline-style: solid;
}
