.gamescreen {
  position: relative;
  cursor: cell;
}

.character-picker--visible {
  display: block;
}

.character-picker:not(.character-picker--visible) {
  display: none;
}

.cursor-overlay:not(.cursor-overlay--visible) {
  display: none;
}

.--positioned-with-x-y {
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
}

.cursor-overlay {
  box-sizing: border-box;
  width: calc(var(--choosing-character-tolerance) * 1px);
  height: calc(var(--choosing-character-tolerance) * 1px);
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid red;
  border-radius: 999px;

  position: absolute;
  top: calc((var(--y) - var(--choosing-character-tolerance) / 2) * 1px);
  left: calc((var(--x) - var(--choosing-character-tolerance) / 2) * 1px);
}

.characters-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  border: 5px dashed var(--light-blue);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.characters-overlay > img {
  border: 3px solid var(--red);
  border-radius: 50%;
  width: 80px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.characters-overlay > img:hover {
  transform: scale(1.1);
}

.characters-overlay > img.found {
  border-color: green;
  box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.5);
}

.stopwatch {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 5px dashed var(--light-blue);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  padding: 15px 25px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-size: 1.3em;
  width: 2em;
  text-align: center;
  color: var(--super-dark-blue);
  transition: transform 0.3s ease;
}

.stopwatch:hover {
  transform: scale(1.05);
}
