* {
  cursor: cell;
}

.gamescreen {
  position: relative;
}

.character-picker.visible {
  display: block;
}

.character-picker:not(.visible) {
  display: none;
}

.--positioned-with-x-y {
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
}

.cursor-overlay {
  box-sizing: border-box;
  width: calc(var(--choosing-character-tolerance) * 1px);
  height: calc(var(--choosing-character-tolerance) * 1px);
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid red;
  border-radius: 999px;

  position: absolute;
  top: calc((var(--y) - var(--choosing-character-tolerance) / 2) * 1px);
  left: calc((var(--x) - var(--choosing-character-tolerance) / 2) * 1px);
}

.characters-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  border: 3px solid black;
}

.characters-overlay > img.found {
  border-color: green;
}

.characters-overlay > img {
  border: 3px solid black;
  width: 80px;
}
