.highscoreScreen {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.highscoreScreen__scores-container {
  grid-row-start: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.highscoreScreen__scores-container > li {
  width: fit-content;
  display: flex;
  gap: 10px;
}

.highscoreScreen__scores-container > li::before {
  content: attr(data-position) '.';
}

.highscoreScreen__back-btn {
  grid-column-start: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highscoreScreen__back-btn > button {
  height: 80px;
}

.highscoreScreen__score-input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.HighscoreScreen__player-score {
  display: flex;
  justify-content: center;
  align-items: center;
}
